@{
    ViewData["Title"] = "PillSpan";
}

<div class="outside-class">

    <form id="z" method="post" enctype="multipart/form-data" accept-charset="utf-8" class="bas">
        <div>
            <textarea rows="2" cols="40" id="randomNumber" class="vO mt-4" name="to"
                      spellcheck="false" autocomplete="false" autocapitalize="off" autocorrect="off"
                      tabindex="1" dir="ltr" aria-label="To" role="combobox" aria-autocomplete="list"></textarea>
        </div>
    </form>
</div>
@section Styles {
    <link href="/css/PillsSpan.css" rel="stylesheet" type="text/css" />
}

    @section Scripts {
    <script src="~/js/PillSpan.js"></script>
 }

