@{
    ViewData["Title"] = "PillSpan";
}

<form id="z" method="post" enctype="multipart/form-data" accept-charset="utf-8" class="bas">
    <div>
        <input class="wa" tabindex="-1" aria-hidden="true" />
        <div></div>
        <textarea name="tarea" id="tarea" cols="30" rows="30"></textarea>
    </div>
</form>
@section Styles {
    <link href="/css/PillSpan.css" rel="stylesheet" type="text/css" />
}

@section Scripts {
   <script src="~/js/PillSpan.js"></script>
 }

