
form {
    width: 45rem;
    height: 45rem;
    margin: 0 auto;

    ul {
        list-style: none;

        li {
            font-size: xx-large;
            margin-top: 1rem;
        }
    }

    textarea {
        width: 15rem;
        height: 15rem;
        border: 2rem solid black;
        margin: 1rem 0rem;
        font-size: xx-large;
    }
}
